.new{
  height: 100vh;
  width: calc(100vw - 150px);
  margin: 0 auto;
  &__form{
    padding: 0 20px;
    height: calc(100vh - 100px);
    &__text{
      height: 50px;
      width: calc(100vw - 150px);
      text-align: center;
      font-size: 50px;
    }
    .new_map{
      height: calc(100vh - 200px);
      padding:20px 0 0 80px;
      .new__map__text{
        height: 30px;
        font-size: 20px;
        text-align: center;
        padding:10px 0;
      }
      .hoge{
        display: block;
        width: 400px;
        height: 50px;
        margin: 0 auto;
      }
      .new__form__text__send {
        font-size: 20px;
        background-color: rgb(193, 193, 207);
        border: gray;
        padding: 20px;
        border-radius: 20px;
        margin: 20px 0px 0px 500px;
        cursor: pointer;
        &:hover{
          opacity:50%;
        }
      }
    }
  }
}